@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #000000;

}

.navigation-link {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}
.choosen-number {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    background-color: #7DB54F;
}

.button {
    background-color: #756157;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
}

.hero {
    background-image: url(../images/welcome-background.jpg);
    background-repeat: no-repeat;
}
.important-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-text, .offering-text, .search-text, .subscribe-description {
    font-size: 22px;
    line-height: 26px;
}

.advantages-title, .offering-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}
.advantages-item {
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantage-square, .advantage-tourist {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-road {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.offering-item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.offering-food {
    background-color: rgba(131, 179, 211, 0.12);
}

.subscribe-index {
    color: #FFFFFF;
    background-image: url(../images/subscribe-background.jpg);
    background-repeat: no-repeat;
}
.subscribe-button, .show-button, .select-button {
    background-color: #82B3D3;
    font-family: inherit;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}
.main-inner-header {
    color: #FFFFFF;
    background-image: url(../images/filter-background.jpg);
    background-repeat: no-repeat;
}
.inner-header-title {
    font-size: 60px;
    font-weight: 700;
    text-align: 78px;
}

.breadcrumbs-item {
font-size: 16px;
line-height: 21px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-filter-item {
    line-height: 23px;
}
.reset-button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  border: 0;
}
.catalog-filter-result {
    font-weight: 700;
font-size: 30px;
line-height: 36px;
}

.select-control {
  font-size: 18px
  line-height: 21px
}

.hotel-card-title {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
  color: #000000;
}
.hotel-card-link {
  text-decoration: none;
}

.hotel-card-rating {
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
background-color: #F2F2F2;
}

.selected-button {
  background-color: #7DB54F;
  font-family: inherit;
}

.pagination-link {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-divider {
  font-size: 22px;
  line-height: 26px;
}
