@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  min-height: 100%;
  background-color: #F2F2F2;
}

body {
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.page-head-logo {
  width: 138px;
  height: auto;
  vertical-align:bottom;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  box-sizing: border-box;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation-user-container {
  display: flex;
  max-width: 300px;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 64px;
  box-sizing: border-box;
}

.navigation-user {
  justify-content: right;
  margin-right: 20px;
  max-width: 130px;
  padding: 0;
}

.navigation-list,
.advantages-list,
.offering-list {
  list-style: none;
  padding: 0;
}

.choosen-number {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
}

.button {
  background-color: #756157;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.navigation-user-container .button {
  min-width: 160px;
  padding: 8px 0;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

.hero {
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 70px;
}

.welcome-text {
  display: block;
  margin: 0 auto;
}

.important-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.advantages {
  margin-bottom: 64px;
}

.advantages .important-text {
  margin-bottom: 25px;
  width: 700px;
}

.advantages-text,
.offering-text,
.search-text,
.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.advantages-text {
  margin-bottom: 90px;
  width: 700px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title,
.offering-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}

.advantages-title {
  width: 175px;
}

.advantages-description {
  margin: 0;
  width: 230px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-block {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 1200px;
  display: flex;
}

.advantages-block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 384px;
}

.advantages-block-image {
  order: -1;
}

.offering {
  margin-bottom: 96px;
}

.offering .important-text {
  margin-bottom: 20px;
  width: 600px;
}

.offering-text {
  margin-bottom: 64px;
  width: 600px;
}

.offering-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.offering-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.offering-title {
  width: 230px;
  margin:0;
  margin-top: 102px;
  margin-bottom: 30px;
}

.offering-description {
  width: 230px;
  margin:0;
}

.offering-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search {
  text-align: center;
  margin-bottom: 96px;
}

.hotel-search .important-text {
  margin-bottom: 20px;
  width: 600px;
}

.search-text {
  margin-bottom: 54px;
  width: 600px;
}

.hotel-search .button {
  width: 376px;
  padding: 8px 0;
  display: block;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 20px;
  line-height: 34px;
}

.subscribe-index {
  color: #FFFFFF;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-index .important-text {
  margin-bottom: 20px;
  width: 600px;
}

.subscribe-description {
  margin-bottom: 54px;
  width: 600px;
}

.subscribe-index .field {
  width: 452px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 0 14px 20px;
  border: none;
  box-sizing: border-box;
}

.subscribe-button {
  width: 232px;
  padding: 8px 0;
  display: block;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 34px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-button,
.show-button,
.select-button {
  background-color: #82B3D3;
  font-family: inherit;
}

.page-footer {
  padding: 40px 0 30px 0;
}

.contacts {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 48px;
  min-height: 40px;
}

.footer-academy-logo {
  width: 115px;
  margin-left: auto;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  margin: 0 auto;
}

.catalog-container {
  width: 1200px;
  margin: 0 auto;
}

.main-inner-header {
  color: #FFFFFF;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 70px;
  padding-top: 35px;
  padding-bottom: 70px;
  margin-bottom: 50px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs,
.catalog-filter-list,
.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 16px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}

.catalog-filter-container {
  display: flex;
  width: 370px;
  justify-content: space-between;
}

.catalog-filter-group {
  width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 191px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  line-height: 23px;
}

.reset-button, .show-button {
  min-width: 190px;
  padding: 8px 0;
  text-align: center;
  box-sizing: border-box;
}

.show-button {
  margin-bottom: 32px;
}

.reset-button {
  font-family: inherit;
  background-color: transparent;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}

.display-type-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
  text-align: right;
}

.button-display-type {
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.catalog-filter-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin:0;
  width: 340px;
  text-transform: uppercase;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  width: 522px;
  justify-content: space-between;
  align-items: center;
}

.sorting-select {
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  width: 292px;
  padding: 14px 0 14px 20px;
}

.hotels-list {
  width: 1060px;
  padding: 0;
  margin: 0 auto;
}

.pagination {
  width: 1060px;
  padding: 0;
  margin: 0 auto;
}

.hotel-card-title {
  font-size: 24px;
  line-height:28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.selected-button {
  background-color: #7DB54F;
  font-family: inherit;
}

.pagination {
  display: flex;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  padding-right: 8px;
}


.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
  text-align: center;
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-divider {
  color: #000000;
  background-color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 17px;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
}

.subscribe-catalog {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-catalog .important-text {
  margin-bottom: 20px;
  width: 600px;
}

.subscribe-catalog .field {
  width: 452px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 0 14px 20px;
  border: none;
  box-sizing: border-box;
  background-color: #F2F2F2;
}
